<h1>Contact Us</h1>

<div class="container_contact">
  <div class"row" id="contact">
    <div class="header">
      <h1>Contact Details</h1>
    </div><!-- end header -->


    <div class="intro column">
          <h2>Any Questions?</h2>
          <p>In case you have further questions, please do not hesitate to contact me.</p>

    <div class="contact column">
          <h3></h3>
            <ul id="contact-list">
              <li><span class="glyphicon glyphicon-phone"></span> +49 (0) 162/154 2223</li>
              <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:vuongthinh.porrmann@gmail.com"> vuongthinh.porrmann@gmail.com</a></li>
              <li><span class="glyphicon glyphicon-comment"></span><a href="https://www.linkedin.com/in/thinh-porrmann-b75158124/"> LinkedIn</a></li>
              <li><span class="glyphicon glyphicon-home"></span> Carlsplatz 17, 40213 Düsseldorf</li>
            </ul>
    </div><!-- end contact column -->
    <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.7548332981282!2d6.772263915736081!3d51.223591879589556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8ca17949f49b5%3A0xbb2de6c9b9839501!2sCarlspl.+17%2C+40213+D%C3%BCsseldorf!5e0!3m2!1sde!2sde!4v1527093578161" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div><!-- end container_contact -->
</div><!-- end Contact -->
